// global.scss

// Add your global styles here
$primary-color: #FFF;
$bg-primary : #161141;
body {
    font-family: 'Arial', sans-serif;
    background-color: $bg-primary;
    margin: 0px !important;
  }

  // Import Bootstrap or other styles if needed
 @import 'bootstrap/scss/bootstrap';

